#msg {
  position: fixed;
  bottom: 0;
  height: 5.5rem;
  padding: 0.5rem;
  .allTransition();

  @media @normal {
    left: @sidebarWidth;
    width: calc(~"100% - @{sidebarWidth}");
  }

  @media @small {
    left: 0;
    width: 100%;
  }


  input[type="text"] {
    width: 100%;
    display: inline-block;
    border:none;
    padding: 1rem 5.5rem 1rem 1rem;
    line-height: 2rem;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    background-image: -webkit-linear-gradient(left, @gray 0%, @gray 95%, @background 95%);

    &:focus {
      cursor: text;
    }
  }

  button[type="submit"] {
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0.75rem 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    .allTransition();
    border-radius: 50%;
    background-color: @gray;
    border: 0.5rem @background solid;

    &:hover {
      color: @blue;
      background-color: @background;
    }
    &:before {
      font-size: 3rem;
    }
  }
}

.sidebarOpen #msg {
  left: @sidebarWidth;
}