//font
@font: 'roboto_slab';
@thin: 100;
@normal: 300;

.fontLight() {
  font-family: @font;
  font-weight: @thin;
}

.fontNormal() {
  font-family: @font;
  font-weight: @normal;
}

//colors
@background: #FFFFFF;
@backgroundHighlight: #FAFAFA;
@blue: #4082A2;
@red: #C86957;
@highlight1: #CC9078;
@highlight2: #D1AE9B;
@highlight3: #C7AC77;