#peers {
  width: 19%;
  background-color: @backgroundHighlight;
  display: inline-block;
  height: 100%;
  padding: 10px;

  li {
    list-style: none;
    font-size: 2.25rem;
    .fontLight();
    color: @blue;
    cursor: pointer;
    transition: ~"* 0.5s";

    &:hover {
      background-color: @background;  
    }
  }
}