#peers > div:last-child {
  width: @sidebarWidth;
  background-color: @backgroundHighlight;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  .allTransition();

  > div {
    height: @topHeight;
  }

  li {
    list-style: none;
    font-size: 2.25rem;
    .fontLight();
    color: @blue;
    cursor: pointer;
    padding: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover,
    &.open {
      background-color: @background;
      color: @text;
    }
  }

  @media @small {
    & {
      left: -@sidebarWidth;
    }
  }
}

.sidebarOpen #peers > div:last-child {
  left: 0;
}