<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>node_chat</title>
  <script type="text/javascript" src="public/vendor/angular/angular.js"></script>
  <script type="text/javascript" src="public/js/controller/index.js"></script>
  <script type="text/javascript" src="public/js/services/index.js"></script>
  <script type="text/javascript" src="public/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
  <div ng-controller="UserCtrl">
    <div ng-repeat="(key, data) in editable">
      <label for="{{key}}">{{data.label}}</label>
      <input name="{{key}}" id="{{key}}" type="{{data.type}}" ng-model="editable[key].value" ng-blur="change(key, editable[key].value)" ng-focus="save(editable[key].value)"/>
    </div>
    
  </div>
  <hr>
  <div ng-controller="PeerCtrl">
    <h3>Peers:</h3>
    <ul id="peers">
      <li ng-repeat="(uuid, data) in peers | orderBy:data.name">
        <div>
          <div ng-click="startConnection(uuid)">
            <strong>{{data.name}}</strong> <span ng-show="data.open">open</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <div ng-controller="HistoryCtrl">
    <h4>History</h4>
    <ul>
      <li ng-repeat="line in history track by $index | orderBy:line.time">
        [<strong>{{line.origin}}</strong>] [{{formatTime(line.time)}}] : {{line.msg}}
      </li>
    </ul>
  </div>
  <br>
  <div ng-controller="MsgCtrl">
    <form ng-submit="send()">
      <input type="text" name="msg" ng-model="msg" required ng-disabled="!open"></input>
      <button type="submit" ng-disabled="!open">send</button>
    </form>
  </div>
</body>
</html>